# Dependency folders (Ye sabse zaruri hai)
node_modules/

# Environment variables (Security ke liye)
.env
.env.local

# Build outputs
dist/
build/
.netlify/
.vercel/

# System files
.DS_Store
Thumbs.db